<!DOCTYPE html>
<html>

<head>
  <html lang="en">
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>Mystery Word</title>
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
  <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
  <div>
    <h1>Welcome to Mystery Word !</h1>
    <p>
      Robin's favorite game in the world!
    </p>
  </div>
  <div>
    <form action="/" method="post">
      <select class="playordontplay "name="playordontplay">
        <option value="default">WANT TO PLAY?</option>
        <option value="yes">Yes!</option>
        <option value="no">No!</option>
      </select>
      <button type="submit" class="button">Start!</button>
    <form>
  </div>
</body>

</html>
